<style>
    .my-card {
        height: 200px;
    }
</style>

<div class="container mt-5 mb-5">
    <!-- Sample Projects -->
    <div class="row">
        <div class="col-md-4">
            <div class="card ">
                <img src="https://picsum.photos/id/1015/400/300" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Sample Project 1</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Project Description</h6>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero.</p>
                    <a href="#" class="btn btn-primary">Learn More</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card ">
                <img src="https://picsum.photos/id/1015/400/300" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Sample Project 2</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Project Description</h6>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero.</p>
                    <a href="#" class="btn btn-primary">Learn More</a>
                </div>
            </div>
        </div>
    </div>
</div>
