<title>Sample Page</title>
<style>

    .main-content {
        padding: 20px;
        display: flex;
        flex-wrap: wrap;
    }

    .card {
        background-color: #f1f1f1;
        border: 1px solid #ddd;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
        padding: 20px;
        margin: 10px;
        flex: 1 0 250px;
    }

</style>

<!-- Idea brief section -->
<h2>Ideas</h2>
<div class="main-content">
    <div class="card">
        <h2>Idea 1</h2>
        <p>Idea brief</p>
        <p>Information</p>
        <img src="image.jpg" alt="Image">
        <p>Certifications</p>
        <p>Contacts</p>
        <a class="btn btn-secondary" asp-action="Index" asp-controller="Ideas">Explore!</a>
    </div>
    <div class="card">
        <h2>Idea 2</h2>
        <p>Idea brief</p>
        <p>Information</p>
        <img src="image.jpg" alt="Image">
        <p>Certifications</p>
        <p>Contacts</p>
        <a class="btn btn-secondary" asp-action="Index" asp-controller="Ideas">Explore!</a>
    </div>


<!-- Request section -->
<h2>Requests</h2>
<div class="main-content">
    <div class="card">
        <h2>Request Details</h2>
        <p>Request Details...</p>
        <p>Social Media</p>
        <p>P...</p>
    </div>
    <div class="card">
        <h2>Request Details</h2>
        <p>Request Details...</p>
        <p>Social Media</p>
        <p>P...</p>
    </div>
</div>


